<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
</head>

<body style="background-color: skyblue; text-align: center;">
    <h1 style="text-align: center;">shivansh........</h1>
    <hr>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="name"><br><br>
        <input type="email" name="email" placeholder="email"><br><br>
        <textarea name="address" placeholder="address"></textarea><br><br>
        <input type="submit" placeholder="submit">
    </form>
    <hr>
    <a href="{% url 'showdata' %}">Show Data</a>

</body>

</html>